html {
    background-image: url(../images/savannah6.jpg);
}



body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ccc;
    text-align: left;
}

h3 {
    padding: 10px;
   
    margin-bottom: 0px;
    width: 570px;
    margin-right: auto;
    margin-left: auto;
    background: #666;
    border: 5px solid #ccc;
    font-size: 14px;
    background: #666;
    border: 5px solid #ccc;
    text-align: left;
}
#timer {
    display: block;
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 3px 4px 4px 3px;
    font-size: 16px;
    width: 9em;
    height: 2em;
    margin: 5px 5px 5px 5px;
    background: #01497c;
    color: rgb(234, 234, 240);
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    margin-right: auto;
    margin-left: auto;
}

#timer:hover {
    background-color: #01a2ff;
    color: white;
    cursor: pointer;
}

#reset {
    display: block;
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 3px 4px 4px 3px;
    font-size: 16px;
    width: 9em;
   
    margin: 5px 5px 5px 5px;
    background: #01497c;
    color: rgb(234, 234, 240);
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    margin-right: auto;
    margin-left: auto;
}

#reset:hover {
    background-color: #01a2ff;
    color: white;
    cursor: pointer;
}
pre {
    opacity: 0.9;
    margin:0;
   
}


p.question {
    color: rgb(19, 18, 18);
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}


p {
    margin:0;
}
ul {
    margin:0;
}


.answers li { 
    list-style: upper-alpha; 
    } 

label {
   
    margin-bottom: 5px;
    margin-left: 20px;
    vertical-align: top;
    font-size: larger;
    cursor: pointer;
}

#results {
    display: block;
    border-style: solid;
    border-color: #bbb rgb(167, 166, 166) rgba(138, 137, 137, 0.938) #aaa;
    border-width: 3px 4px 4px 3px;
    font-size: 16px;
    width: 9em;
    height: 2em;
    margin: 5px 5px 5px 5px;
    background: #035680;
    color: rgb(234, 234, 240);
    line-height: 2em;
    margin-left: 38%;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
}

#results:hover {
    background-color: #01a2ff;
    color: white;
    cursor: pointer;
}
#content {
    padding: 15px;
  
    margin-top: 1px;
    width:570px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    background: #666;
    border: 5px solid #ccc;
    text-align: left;
}


#categorylist { 
    margin-top: 0; 
    display: none; 
 
    } 


#category1 {display: none; margin:0; }
#category2 {display: none; }
#category3 {display: none; line-height:8px;}
#category4 {display: none; }
#category11 {display: none; }
     
   








